/*Shahzod Maxammatov*/
/*Tel:(90) 192-99-00*/
/*Telegram: @Shakhzod_Makhammatov*/
*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none; scroll-behavior: smooth;}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../Shrift/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../Shrift/Montserrat-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'AnonymousPro-Regular';
    src: url("../Shrift/AnonymousPro-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url("../Shrift/Roboto-Regular.ttf") format('truetype');
}

body{
    /*height: 7777px;*/
}

h1 , h2 , h3 , h4 , h5 , h6 , ul{
    margin-bottom: 0!important;
}

.Rooms_And_Content_title{
    font-family: AnonymousPro-Regular;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
}

.Menu_Link{
    color: #fff!important;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all .4s ease;
    position: relative;
}
.Menu_Link:after{
    content: '';
    position: absolute;
    width: 0;
    bottom: 5px;
    left: 0;
    border-bottom: 2px solid #fff;
    transition: all .4s;
    opacity: 0;
}
.Menu_Link:hover::after{
    width: 100%;
    opacity: 1;
}
.Menu_Link_active{
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
    border-bottom: 1px solid #fff;
    transition: all .4s;
}
.Rooms_text{
    color: #fff;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
}

.Content_Title{
    margin-top: 40px;
    color: #14274A;
    font-family: AnonymousPro-Regular;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.08em;
}

.Carousel_Title{
    color: #fff;
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 73px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.View_Rooms_Details_Text{
    color: #14274A;
    font-family: Montserrat-Regular;
    font-weight: bold!important;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.View_Rooms_Details_Button{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #E0B973;
    border-radius: 50%;
    margin-right: 20px;
    color: #fff;
    font-size: 25px;
}

.Header_Carousel_Button{
    width: 240px;
    height: 70px;
    color: #fff;
    border-radius: 8px;
    background-color: #E0B973;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    transition: all .2s ease;
    transform: scale(0.9);
    position: relative;
}
.Header_Carousel_Button:hover{
    color: #dcebff;
    border-radius: 0px;
    background-color: transparent;
    border: 2px solid #0b2e13;
    transform: scale(1);
}

/*header begin*/

header {
    height: 100vh;
    background: url("../img/header_bg.png") #fff3cd no-repeat center center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}
header::after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/Rectangle 1104_1.png") no-repeat;
    background-size: cover;
    opacity: 40%;
    z-index: -1;
}
header .navbar{
    padding-top: 0px;
}
header nav .Rooms_And_Content_title{
    color: #14274A;
    background: #E0B973;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
}
header .logo_title_top , .logo_title_bottom{
    display: block;
    margin: 0 auto;
    text-align: center;
}
header .logo_title_top{
    font-size: 30px;
}
header .Menu_Link{
    margin-left: 52px;
}
header h4{
    font-family: Montserrat-Regular;
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 40px;
}
header h2{
    letter-spacing: 3px;
    color: #fff;
}
header .Rooms_And_Content_title .header_title_top{
    font-family: AnonymousPro-Regular;
    font-size: 120px;
    display: block;
    line-height: .9;
}
header .Rooms_And_Content_title .header_title_bottom{
    font-family: Montserrat-Regular;
    font-size: 35px;
    display: block;
    letter-spacing: 20px;
}
header p{
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 25px;
    max-width: 350px;
}
header .Header_Carousel_Button{
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-top: 40px;
}
header .Header_Carousel_Button img{
    margin-right: 10px;
}
header .header_scroll{
    margin-top: 35px;
}
header .header_scroll h5{
    font-size: 1.5rem;
    margin-bottom: 14px!important;
}
header .header_scroll button{
    width: 45px;
    height: 45px;
}
header .header_scroll button a{
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*header end*/

/*content begin*/
.Rooms_Carousel .carousel-indicators li{
    width: 15px!important;
    height: 15px!important;
    border-radius: 50%!important;
    background-color: #fff!important;
    margin-right: 5px!important;
    margin-left: 5px!important;
}
.Rooms_Title_Box{
    background-color: #14274A;
}
.My_Content .Rooms_text{
    color: #14274A!important;
    font-family: Roboto-Regular;
    letter-spacing: 0.02em;
    max-width: 880px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
}
.Rooms_View_Box{
    border: 1px solid #14274A;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
}
.Rooms_Carousel img{
    height: 650px;
}
.Rooms_View_Details .card{
    border: 1px solid transparent;
}
.Rooms_View_Details .card-header{
    background-color: #fff!important;
    border: none!important;
}
.Rooms_View_Details .btn-link {
    color: #0056b3;
    text-decoration: none;
}
.Rooms_View_Details .btn-link:focus, .btn-link.focus {
    text-decoration: none!important;
}
.Rooms_View_Details .btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}
.Rooms_View_Box .Header_Carousel_Button{
    font-size: 18px;
    letter-spacing: 3px;
}
.Rooms_View_Box .Header_Carousel_Button:hover{
    color: #222;
}
.My_Content_Testimonials .Rooms_text{
    color: #14274A;
    text-align: center;
}
.My_Content_Testimonials .Testimonials_LinkBx{
    width: 125px;
    max-width: 125px;
    /*border: 2px solid yellow;*/
    display: flex;
    justify-content: space-between;
}
.My_Content_Testimonials .Testimonials_LinkBx a{
    background-color: #E0B973;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.My_Content_Testimonials .Testimonials_LinkBx a:hover{
    text-decoration: none!important;
}
.My_Content_Testimonials .Testimonials_LinkBx i{
    color: #fff!important;
    font-size: 1.6rem;
}
/*content end*/

/*footer begin*/
footer{
    margin-top: 120px!important;
    background-color: #14274A;
    position: relative;
}
footer::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 150px;
    height: 150px;
    background-color: #14274A;
    transform: translateX(-75px) translateY(-25px) rotate(45deg);
}
footer .Rooms_And_Content_title{
    color: #fff;
    margin-top: 50px;
    max-width: 120px;
}
footer .footer_title_top{
    font-size: 30px;
    display: block;
    letter-spacing: 3px;
}
footer .footer_title_bottom{
    font-size: 14px;
    display: block;
    text-align: center;
    letter-spacing: 3px;
}
footer .Rooms_text{
    margin-top: 30px;
    max-width: 320px;
    letter-spacing: 1px;
    text-decoration: none!important;
    font-size: 14px;
}
footer .Menu_Link{
    text-decoration: none!important;
    font-size: 14px;
    line-height: 30px;
}
footer .Menu_Link:hover{
    color: #fffc35 !important;
}
footer .Menu_Link:after{
    display: none;
}
footer ul{
    margin-top: 50px;
}
footer .footer_email_text_block .Rooms_text{
    margin-top: 50px;
    font-size: 16px;
}
footer .footer_input form{
    display: flex;
    justify-content: start;
}
footer .footer_input .Rooms_text{
    margin-top: 30px;
    font-size: 16px;
}
footer .footer_input input[type="email"]{
    width: 270px;
    height: 52px;
    border: 2px solid #E0B973;
    background-color: transparent;
    outline: none;
    padding-left: 12px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
}
footer .footer_input input[type="email"]:focus{
    background-color: #81fbff;
    border: 2px solid #E0B973;
}
footer .footer_input input[type="button"]{
    width: 80px;
    height: 52px;
    background: #E0B973;
    color: #000;
    font-size: 18px;
    transition: all .4s ease;
    border: 2px solid transparent;
}
footer .footer_input input[type="button"]:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #E0B973;
}
/*footer end*/


/*About_MySelf begin*/
@font-face {
    font-family: 'AnonymousPro-Regular';
    src: url("../Shrift/AnonymousPro-Regular.ttf") format('truetype');
}
.About_MySelf{
    background-color: transparent;
    position: fixed;
    overflow: hidden;
    z-index: 555;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.About_MySelf h2{
    color: #14274A;
    font-family: AnonymousPro-Regular;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    animation-name: My_Animation1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: linear;
}
.About_MySelf h4{
    margin-top: 5px;
    color: #14274A;
    font-family: AnonymousPro-Regular;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    display: inline-block;
    animation-name: My_Animation2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: linear;
}
.About_MySelf h2 i{
    padding-right: 8px;
}
.About_MySelf h4 i{
    padding-right: 8px;
}
.About_MySelf span{
    width: 30px;
    height: 30px;
    background-color: #14274A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
}
.Contact_me{
    display: flex;
    margin-top: 10px;
}
.My_Social_Media{
    display: flex;
    padding-left: 10px;
}
.My_Social_Media a{
    color: #fff;
}
.My_Social_Media .fa-2x{
    font-size: 0.960rem;
}
@keyframes My_Animation1{
    0%{font-size: 12px;color: #14274A;}
    25%{font-size: 13px;color: red;}
    50%{font-size: 14px;color: blue;}
    75%{font-size: 15px;color: yellow;}
    100%{font-size: 16px;color: black;}
}
@keyframes My_Animation2{
    0%{color: #14274A;}
    25%{color: blue;}
    50%{color: red;}
    75%{color: black;}
    100%{color: yellow;}
}
/*About_MySelf end*/